.pagination {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.pageNumber {
  padding: 8px;
}
.pageNumber,
.arrow {
  border: none;
  cursor: pointer;
}
.pageNumber:disabled,
.arrow:disabled {
  cursor: default;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination.dark .pageNumber,
.pagination.dark .arrow {
  background-color: #23272f;
  color: white;
}
.pagination.dark .pageNumber:disabled,
.pagination.dark .arrow:disabled {
  color: rgb(95, 94, 94);
}
.pagination.light .pageNumber,
.pagination.light .arrow {
  background-color: white;
  color: black;
}
.pagination.light .pageNumber:disabled,
.pagination.light .arrow:disabled {
  color: rgb(186, 186, 186);
}
