.themeBtn {
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
}
.themeBtn.dark {
  border: 2px solid #353942;
  color: rgb(163, 163, 163);
}
.themeBtn.light {
  border: 2px solid #dfdfdf;
  color: rgb(128, 128, 128);
}
